<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Data Sensor Tanah</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>Data Sensor Tanah Terbaru</h1>
    <table>
        <tr>
            <th>Waktu</th>
            <th>Suhu (&deg;C)</th>
            <th>Kelembaban (%)</th>
            <th>pH</th>
            <th>Konduktivitas (EC)</th>
            <th>Nitrogen</th>
            <th>Fosfor</th>
            <th>Kalium</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{ d.timestamp }}</td>
            <td>{{ d.temperature }}</td>
            <td>{{ d.moisture }}</td>
            <td>{{ d.pH }}</td>
            <td>{{ d.conductivity }}</td>
            <td>{{ d.nitrogen }}</td>
            <td>{{ d.phosphorus }}</td>
            <td>{{ d.potassium }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Grafik Suhu dan Kelembaban</h2>
    <div id="graph"></div>

    <script type="text/javascript">
        var timestamps = [{% for d in data %}'{{ d.timestamp }}'{% if not loop.last %}, {% endif %} {% endfor %}];

        var temperature = {
            x: timestamps,
            y: [{% for d in data %}{{ d.temperature }}{% if not loop.last %}, {% endif %} {% endfor %}],
        type: 'scatter',
            name: 'Suhu'
        };

        var moisture = {
            x: timestamps,
            y: [{% for d in data %}{{ d.moisture }}{% if not loop.last %}, {% endif %} {% endfor %}],
        type: 'scatter',
            name: 'Kelembaban'
        };

        var data = [temperature, moisture];

        var layout = {
            xaxis: { title: 'Waktu' },
            yaxis: { title: 'Nilai' }
        };

        Plotly.newPlot('graph', data, layout);
    </script>
</body>

</html>